extends layouts/frontend

include includes/_mixins

block head
  script(src="/js/script.js")
  
block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.ten.wide.tablet.seven.wide.computer.column
      h1 Register

      form.ui.large.form(method="post" action="/register")
        .ui.segment
          +field('text', 'firstName', 'First name', true, 'firstName')
          +field('text', 'lastName', 'Last name', true, 'lastName')
          +field('email', 'email', 'your.email@address.tld', true, 'email')
          +field('password', 'password', 'Password', true, 'password')
          +field('password', 'password_confirm', 'Confirm password', true, 'password_confirm')
          button(type="submit").ui.fluid.large.teal.submit.button
            | Register
      
      p Already registered?
      a.button(href=`/login`) Try logging in instead